.links{
    margin-top: 400px;
    margin-bottom: 100px;
    margin-right: 160px;
    margin-left: 250px;
  }
  
  .herz{
    margin-left: 100px;
  }
  
  .kreuz{
    margin-left: 120px;
    margin-top: 100px;
  }