.PersProfil {
  border-radius: 25px;
  border: 2px solid black;
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
  padding-bottom: 1em;
  gap: 0.5em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}
.Lernprofil {
  border-radius: 25px;
  border: 2px solid black;
  width: 45%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-bottom: 1em;
  gap: 0.5em;
}
.Buttons {
  text-align: center;
}
.DeleteButton {
  text-align: center;
}
